.MainBodyContainer {
  margin-top: 100px;
  padding: 30px;
  .logoImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 400px;
  }
  .BoredCard button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 100px;
  }

  button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .BoredCard p {
    position: absolute;
    top: 180px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
  li {
    font-family: "Spectral";
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    position: relative;
  }
}

.logoImg {
}
@media (max-width: 450px) {
  .MainBodyContainer {
    margin-top: 10px;
  }
  .MainBodyContainer p {
    position: absolute;
    top: 150px;
  }
}
