.NavContainer nav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.NavContainer nav ul {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 20px;
  //   width: 100%;
}
li {
  font-size: 18px;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.profilepic {
  max-width: 50px;
  //   border-radius: 45%;
}
.profilepic img {
  width: 100%;
  border-radius: 50%;
}
