.FooterContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  // background-color: #001219;
  color: #fff;
  footer {
    border-top: 1px #dadce0 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
    width: 95%;
    margin: auto;
    padding: 30px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    color: #fff;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    font-size: 20px;
    padding: 20px;
    // background-color: #001219;
    background-color: #f2f2f2;
    color: #fff;
    opacity: 0.8;
  }
  li {
    font-size: 18px;
    opacity: 0.75;
    color: #fff;
  }
}
@media (max-width: 450px) {
  li:nth-child(4) {
    display: none;
  }
  li {
    justify-content: center;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .FooterContainer p {
    display: none;
  }
}
